.form{
    width: 1000px;
    margin-left: 50px;
    margin-top: 50px;
}

.checkbox {
    margin-left: -50px; 
  } 
  
  .checkboxLabel {
    display: flex;
    align-items: center;
  }

  .gap{
    width: 290px;
    margin-left: 20px;
  }

  .CheckOut{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 100px;

  }

  .CheckOut2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    
    }




