@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar_link {
  position: relative;
  padding: 8px 16px;
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.navbar_link:hover {
  background-color: #34d399; /* Emerald-300 background color */
  padding: 8px 16px; /* Adjust padding if necessary */
}
